<!DOCTYPE html>

<!-- <html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <div class="header"> 
        <h1> The Cryptography Helper </h1>
        <a id = "caeser" class="nav-link" href="/caeser"></i>Caeser Encoding</a>

        <a class="nav-link" href="/"></i>Home</a>
        <a class="nav-link" href ="caeser_decoding"><i> Caeser Decoding</a>
        <hr>
    </div>
</head>

<body>
    
</body>
</html> -->



 <html lang="en"> 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap Navbar Color Schemes</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<style>
	/* Custom style */
    .navbar{
        margin-bottom: 1rem;
    }
</style>
</head>
<body>
<div class="m-4">
	
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Home</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse2">
                <div class="navbar-nav">
                    <a href="/caeser" class="nav-item nav-link">Caeser Encoding</a>
                    <a href="/caeser_decoding" class="nav-item nav-link">Caeser Decoding</a>
                </div>
            </div>
        </div>        
    </nav>